<turbo-stream action="replace" target="dashboard">
    <template>
        <div class="col-12 mt-5">
            <h3 style="color:white">Modify the {{ spot }} media</h3>

{{ form_start(form, {
    'action': path('app_settings_media', {'spot': spot}),
    'attr': {'data-turbo': 'true'}
}) }}
                    {{ form_widget(form.media) }}
                {{ form_end(form) }}
        </div>


    </template>
</turbo-stream>