<turbo-stream action="replace" target="homepage">
    <template>
        <style>
            body {
                background-color: black;
                color: #e3d8f1;
            }

            h2 {
                color: #ff252b;
            }

            p {
                color: #e3d8f1;
                font-size: 1.4rem;
            }

            .img-side {
                width: 100%;
                height: auto;
                max-height: 20rem;
                object-fit: cover;
                border-radius: 20px;
                transition: transform 0.4s ease, box-shadow 0.4s ease;
            }

            .img-side.portrait {
                width: 100%;
                height: auto;
                max-height: 22rem;
                transform: none;
            }


            @media (min-width: 992px) {

                .img-side {
                    height: 30rem;
                    object-fit: cover;
                    transform: scale(1.15);
                }

                .img-side.portrait {
                    width: 50%;
                    height: 20rem;
                    transform: scale(1.2);
                }

                .img-side:hover {
                    transform: scale(1.3);
                }
            }

            strong {
                color: #ff252b;

            }


        </style>

        {% include "_partials/_about_nav.html.twig" %}

        <div class="container">
            <div class="empty-10"></div>
            <div class="col-lg-10 offset-lg-1">
                <!-- INTRO -->
                {% for i in 1..aboutDisplay %}
                    <section class="sound-intro d-flex flex-column flex-lg-row align-items-center mb-5">

                    {% if i is even %}
                        <div class="col-lg-6 pe-lg-5 text-center text-lg-start">
                            {{ aboutTexts[i].value|raw }}
                        </div>
                        <div class="col-12 col-lg-6 text-center mt-4 mt-lg-0">
                            <img src="{{ asset('upload/about'~i~'/' ~ aboutMedias[i].name) }}" alt="Sound design recording outdoors"
                                 class="img-side portrait rounded-3 shadow-lg">
                        </div>
                    {% else %}
                        <div class="col-12 col-lg-6 text-center mt-4 mt-lg-0">
                            <img src="{{ asset('upload/about'~i~'/' ~ aboutMedias[i].name) }}" alt="Sound design recording outdoors"
                                 class="img-side portrait rounded-3 shadow-lg">
                        </div>
                        <div class="col-lg-6 pe-lg-5 text-center text-lg-start">
                            {{ aboutTexts[i].value|raw }}
                        </div>
                        {% endif %}
                        </section>

                {% endfor %}
            </div>


        </div>
        <div class="empty-10"></div>
        </div>
    </template>
</turbo-stream>