{% extends 'base.html.twig' %}

{% block body %}
    <div id="homepage">
        {% include "_partials/_light_nav.html.twig" %}

        <div id="home" class="container-fluid p-0">
            <div style="background-image: url('https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg');background-size: cover; background-position: center; height: 100vh;"
                 class="justify-content-center">

                <div class="text-center row">
                    <h1 style="" class="header-title text-white col-12 breathing">Camille SABY</h1>
                    <h4 class="header-subtitle text-white col-12 breathing">▲ Sound Designer // Technical SD ▼</h4>

                    <div class="col-12  breathing">
                        <a class="btn btn-outline-light text-white mx-5">Show reel</a>
                        <a class="btn btn-outline-light text-white mx-5">Technical demo</a>

                    </div>
                    <div class="col-12 col-md-6 breathing">
                    </div>
                </div>

            </div>
        </div>
        <div style="min-height: 100vh" id="work" class="container">
            <div class="row">
                <div class="col-12 mt-5 mb-5">
                    <h3 class="text-center">ShowReel 2024</h3>
                </div>
                <div class="col-12 w-50 mx-auto">
                    <img class="img-fluid mx-auto rounded"
                         src="https://wallpapers.com/images/hd/1920-x-1080-hd-1qq8r4pnn8cmcew4.jpg" alt="">
                </div>
                <div class="col-12 mt-5 mb-5">
                    <h5 class="text-center">Selected Work</h5>
                </div>
                <div class="col-12 text-center mb-5">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/q8gJQ_c4eBU?si=mQYoJaSr2igTR1C3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="col-4 mb-4">
                    <img class="card-img-top" src="https://wallpapers.com/images/hd/1920-x-1080-hd-1qq8r4pnn8cmcew4.jpg"
                         alt="">
                </div>
                <div class="col-4 mb-4">
                    <img class="card-img-top"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAgCP4ggjblYy6md3itu-vR8l380G0GiIR4w&s"
                         alt="">
                </div>
                <div class="col-4 mb-4">
                    <img class="card-img-top"
                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZSf3OywU4xlS9bYZLxRh2SLOoBPwaMDI5gA&s"
                         alt="">
                </div>
                <div class="col-4 mb-4">
                    <img class="card-img-top" src="https://images7.alphacoders.com/137/1378048.png" alt="">
                </div>
                <div class="col-4 mb-4">
                    <img class="card-img-top" src="https://basicappleguy.com/s/WWDC_Wallpaper_Mac-e6fm.png" alt="">
                </div>
                <div class="col-4 mb-4">
                    <img class="card-img-top"
                         src="https://www.pixelstalk.net/wp-content/uploads/image12/A-retro-futuristic-space-aesthetic-laptop-wallpaper-with-vibrant-neon-colors-showcasing-a-spaceship-flying-past-a-glowing-planet-and-stars.jpg"
                         alt="">
                </div>

            </div>
        </div>
        <div id="about" class="container-fluid p-4 text-dark" style="background-color: #e3d8f1;">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 mx-auto w-25">
                            <img class="img-fluid mx-auto rounded-circle"
                                 src="https://preview.redd.it/new-profile-pictures-for-yall-v0-ul96as2xte3c1.jpg?width=640&crop=smart&auto=webp&s=43f47ff0ad6fcb44abddc1490c496bfbcf0a0458"
                                 alt="Photo de profil">
                        </div>
                        <div class="col-md-6 my-auto">
                            <h5>Camille Saby</h5>
                            <p>As a passionate sound designer and digital art enthusiast, I aim to work in video game
                                industry. Sound inspires me as a living material to shape and transform, with sound
                                synthesis offering a playground for creating immersive atmospheres and innovative
                                soundscapes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 35vh" class="container">
            <div class="row">
                <div class="col-12 mt-5 mb-5 text-center">
                    <h3>CONTACT ME</h3>
                    <p>Camille SABY</p>
                    <p>Sound Designer</p>
                    <p>France, LYON</p>
                    <a style="color:#ff5a5f ;text-decoration: none" href="mailto:cs.sabycamille@gmail.com">cs.sabycamille@gmail.com</a>
                </div>
                <div class="col-12 text-center">
                    <i class=" bi bi-linkedin fs-2 me-3"></i>
                    <i class=" bi bi-linkedin fs-2"></i>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
