<turbo-stream action="replace" target="homepage">
    <template>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="{{ path('app_home') }}" class="btn btn-outline-dark glitch-btn text-white mx-5"
                       data-text="Technical demo">Home</a>

                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h2 class="text-center breathing">ShowReel 2024</h2>
                </div>
            </div>
        </div>


    </template>
</turbo-stream>